{% extends "base_generic.html" %}
{% block content %}
<section id="about">
    <div class="container">
      <div class="row">
        <div class="col-lg-8 mx-auto">
          <p class="lead"><h2>Name: {{ beer.name }}</h2></p>
          <ul>            
            <p><strong>Supplier: </strong> <a href="https://www.strongbow.com/">{{ beer.supplier }}</a></p> <!-- author detail link not yet defined -->
            <p><strong>Summary:</strong> {{ beer.summary }}</p>
            <p><strong>Country:</strong> {{ beer.country }}</p>
            <img class="intro-img img-fluid mb-3 mb-lg-0 rounded" src="https://i.pinimg.com/originals/de/ce/3c/dece3ce9978e865531d98ea5a7ff8366.jpg" width="200" height="200" alt="">
          </ul>
        </div>
      </div>
    </div>
  </section>
{% endblock %}