{% extends "base_generic.html" %}

{% block content %}

<section id="about">
    <div class="container">
      <div class="row">
        <div class="col-lg-8 mx-auto">
          <p>Total: {{total_price}}</p>
<form action="" method="post">
    {% csrf_token %}
    <table>
        {{ form.as_table }}
    </table>
    <input type="submit" value="Submit">
</form>
        </div>
      </div>
    </div>
  </section>
{% endblock %}