{% extends "base_generic.html" %}

{% block content %}

<section id="about">
    <div class="container">
      <div class="row">
        <div class="col-lg-8 mx-auto">
          <h1>Menu</h1>
{% if beer_list %}
<ul>
    {% for beer in beer_list %}
    <li>
        <a href="{{ beer.get_customer_url }}">{{ beer.name }}</a> ({{beer.supplier}})
    </li>
    {% endfor %}
</ul>
{% else %}
<p>The service is temporarily unavailable.</p>
{% endif %}
        </div>
      </div>
    </div>
  </section>
{% endblock %}