{% extends "base_generic.html" %}

{% block content %}
<section id="about">
    <div class="container">
      <div class="row">
        <div class="col-lg-8 mx-auto">
          <h2>Our services</h2>
          <p class="lead">We serve the best beer in town::</p>
          <ul>
            <li><strong>Beers:</strong> {{ num_beers }} </li>
            <li><strong>Suppliers:</strong> {{ num_suppliers }}</li>
          </ul>
          <p class="lead">Check out our latest <a href="beers">products</a></p>
         
        </div>
      </div>
    </div>
  </section>
{% endblock %}