<!DOCTYPE html>
<html lang="en">
<head> 

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>AndyL</title>
  {% load static %}
  <!-- Bootstrap core CSS -->
  <link href="{% static 'accounts/vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">

  <!-- Custom styles for this template -->
  <link href="{% static 'accounts/css/scrolling-nav.css' %}" rel="stylesheet">

</head>

<body id="page-top">
  <!-- Navigation -->
  <nav class="navbar navbar-expand-lg navbar-primary fixed-top" id="mainNav" style="background-color: yellow">
    <div class="container">
      <a class="navbar-brand js-scroll-trigger" href="../../../../../../#page-top" style="color: black">AndyL</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ml-auto">
          <li>
          <a class="nav-link js-scroll-trigger" href="products" style="color: black">Products</a>   
          </li>
          {% if user.is_authenticated%}
          {% if user.is_customer%}
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="{% url 'customer_index' %}" style="color: black">Menu</a> 
          </li>
          {% endif %}
          {% if user.is_supplier%}
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="{% url 'supplier_index' %}" style="color: black" >Menu</a> 
          </li>
          {% endif %}
          {% if user.is_lift%}
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="{% url 'lift_index' %}" style="color: black">Menu</a> 
          </li>
          {% endif %}
          <!--
          {% if user.is_customer%}
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="{% url 'customer_order' %}" style="color: black">Order</a> 
          </li>
          {% endif %}
          {% if user.is_supplier%}
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="{% url 'supplier_update' %}" style="color: black">Update</a> 
          </li>
          {% endif %}
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="{% url 'profile' %}" style="color: black">Profile</a> 
          </li> -->
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="{% url 'logout' %}" style="color: black">Logout</a> 
          </li>
          {% else %}
          <li>
          <a class="nav-link js-scroll-trigger" href="{% url 'register' %}" style="color: black">Register</a>
          </li>
          <li>
          <a class="nav-link js-scroll-trigger" href="{% url 'login' %}" style="color: black">Login</a>   
          </li>
          {% endif %}
        </ul>
      </div>
    </div>
  </nav>

  <header class="bg-light text-dark" >
    <div class="container text-center" >
      <h1 style="font-size:60px;color: black;" >Welcome to AndyL</h1>
      <p class="lead">A website for all beer lovers</p>
    </div>
    <div class="container text-center" >
      <p class="lead">Confirm you are over 18, we are not responsible for alcohol consumption by person under 18 </p>
    </div>
  </header>
  <img src = "https://images.unsplash.com/photo-1571613316887-6f8d5cbf7ef7?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1951&q=80" style="display: block;margin: auto;" height="40%" width="75%" >
  
  <section id="about" >
    <div class="container">
      <div class="row">
        <div class="col-lg-20 mx-auto">
          <h2 >WE SERVE THE BEST BEER IN YOUR AREA! BUY NOW!</h2>
          <br>
          <img src = "https://cdn.shopify.com/s/files/1/2547/4332/products/Order.Beer-Selection_800x533_f6d234d0-bdb2-4f5f-ba6f-3b294416e8c5_300x300.jpg?v=1585152033" width="40%" align="left" style="display: block; margin-left: 30px;margin-right: 30px">
          <p class="lead" style="font-size:25px;color: black;" >Enjoy the beer you love from the stores without going out. Order beer on our website.</p>
          <ul style="list-style-position: inside;">
            <li>Superfast delivery!</li>
            <li>Lots of choices!</li>
            <li>Extremely fresh beer!</li>
            <li>24/7 regardless of weather!</li>
          </ul>
      </div>
    </div>
  </section>

  <section id="services" class="bg-light">
    <div class="container">
      <div class="row">
        <div class="col-lg-20 mx-auto">
          <h2 style="text-align: center;">OR YOU ARE A SUPPLIER? JOIN US!</h2>
          <br>
          <img src = "https://images.thestar.com/bLxtKjaW77G-8R-Ab1Jf91nybGU=/1280x1024/smart/filters:cb(1509558220131)/https://www.thestar.com/content/dam/thestar/news/canada/2012/12/22/cohn_why_ontarians_cant_bear_the_beer_store_any_longer/beerstore.jpeg" width="30%" align="right" style="display: block; margin-left: 30px;margin-right: 30px">
          <p class="lead" style="text-align: right;font-size: 30px;">Become our partner, we promise to take you further!</p> <br>
          <p class="lead" style="text-align: right;font-size: 30px;">Perpect Choice: We are proud of my service is the best!</p> <br>
          <p class="lead" style="text-align: right;font-size: 30px;">High Profit: We will find customers for you and delivery!</p> <br>
          <p class="lead" style="text-align: right;font-size: 30px;"></p>
        </div>
      </div>
    </div>
  </section>

  <section id="contact">
    <div class="container">
      <div class="row">
        <div class="col-lg-20 mx-auto">
          <h2>Contact us</h2>
          <h4>Forward Together</h4>
          <p class="lead">AndyL company</p>
          <p class="lead">Address: 1 Dai Co Viet Road, Bach Khoa Ward, Hai Ba Trung Distict, Hanoi</p>
          <p class="lead">Phone: +84 987 123 456</p>
          <p class="lead">CEO: Luong Duc Long</p>
        </div>
      </div>
    </div>
  </section>

  <!-- Footer -->
  <footer class="py-5 bg-dark">
    <div class="container">
      <p class="m-0 text-center text-white">Copyright &copy; ANDYL 2020</p>
    </div>
    <!-- /.container -->
  </footer>

  <!-- Bootstrap core JavaScript -->
  <script src="{% static 'accounts/vendor/jquery/jquery.min.js' %}"></script>
  <script src="{% static '/vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>

  <!-- Plugin JavaScript -->
  <script src="{% static 'accounts/vendor/jquery-easing/jquery.easing.min.js' &}"></script>

  <!-- Custom JavaScript for this theme -->
  <script src="{% static 'accounts/js/scrolling-nav.js' %}"></script>

</body>

</html>
