{% load widget_tweaks %}
<!DOCTYPE html>
<html lang="en">

<head> 

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>AndyL</title>
  {% load static %}
  <!-- Bootstrap core CSS -->
  <link href="{% static 'accounts/vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">

  <!-- Custom styles for this template -->
  <link href="{% static 'accounts/css/scrolling-nav.css' %}" rel="stylesheet">

</head>

<body id="page-top">
  <!-- Navigation -->
  <nav class="navbar navbar-expand-lg navbar-primary fixed-top" id="mainNav" style="background-color: yellow">
    <div class="container">
      <a class="navbar-brand js-scroll-trigger" href="../../../../../../#page-top" style="color: black">AndyL</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="../../../"style="color: black">Home</a>
          </li>
          {% if user.is_authenticated%}
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="{% url 'logout' %}"style="color: black">Logout</a> 
          </li>
          {% else %}
          <li>
          <a class="nav-link js-scroll-trigger" href="{% url 'register' %}"style="color: black">Register</a>
          </li>
          <li>
          <a class="nav-link js-scroll-trigger" href="{% url 'login' %}"style="color: black">Login</a>   
          </li>
          {% endif %}
        </ul>
      </div>
    </div>
  </nav>
  <section>
    <div class="container">
        <div class="row">
            <div class="col-md-6 mx-auto">
                <div class="card">
                    <div class="card-header text-black">
                        <h2>Lift Register</h2>
                    </div>
                    <div class="card-body">
                        <form action="{% url 'lift_register' %}" method="POST" novalidate>
                            {% csrf_token %}
                            {% for field in form.visible_fields %}
                            <div class="form-group">
                                {{ field.label_tag }}
                                {% render_field field class="form-control" %}
                                {% for error in field.errors %}
                                <span style="color:red">{{ error }}</span>
                                {% endfor %}
                                {% endfor %}<br>
                                <input type="submit" value="Register" class="btn btn-block btn-primary">
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>
</section>

  <!-- Footer -->
  <footer class="py-5 bg-dark">
    <div class="container">
      <p class="m-0 text-center text-white">Copyright &copy; Your Website 2020</p>
    </div>
    <!-- /.container -->
  </footer>

  <!-- Bootstrap core JavaScript -->
  <script src="{% static 'accounts/vendor/jquery/jquery.min.js' %}"></script>
  <script src="{% static '/vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>

  <!-- Plugin JavaScript -->
  <script src="{% static 'accounts/vendor/jquery-easing/jquery.easing.min.js' &}"></script>

  <!-- Custom JavaScript for this theme -->
  <script src="{% static 'accounts/js/scrolling-nav.js' %}"></script>

</body>

</html>
