{% load widget_tweaks %}
<!DOCTYPE html>
<html lang="en">

<head> 

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>AndyL</title>
  {% load static %}
  <!-- Bootstrap core CSS -->
  <link href="{% static 'accounts/vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
  <link rel="stylesheet" href="{% static 'deliverer_temp/style.css' %}">
  <link rel="stylesheet" href="{% static 'deliverer_temp/aribastyle.css' %}">
  <script src="{% static 'deliverer_temp/main.js'%}"></script>


  <!-- Custom styles for this template -->
  <link href="{% static 'accounts/css/scrolling-nav.css' %}" rel="stylesheet">

</head>

<body id="page-top">
  <!-- Navigation -->
  <nav class="navbar navbar-expand-lg navbar-primary fixed-top" id="mainNav" style="background-color: yellow">
    <div class="container">
      <a class="navbar-brand js-scroll-trigger" href="../../../../../../#page-top" style="color: black">AndyL</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="../../../" style="color: black">Home</a>
          {% if user.is_authenticated%}
          {% if user.is_customer%}
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="{% url 'customer_index' %}" style="color: black">Menu</a> 
          </li>
          {% endif %}
          {% if user.is_supplier%}
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="{% url 'supplier_index' %}" style="color: black">Menu</a> 
          </li>
          {% endif %}
          {% if user.is_lift%}
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="{% url 'lift_index' %}" style="color: black">Menu</a> 
          </li>
          {% endif %}
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="{% url 'logout' %}" style="color: black">Logout</a> 
          </li>
          {% else %}
          <li>
          <a class="nav-link js-scroll-trigger" href="{% url 'register' %}" style="color: black">Register</a>
          </li>
          <li>
          <a class="nav-link js-scroll-trigger" href="{% url 'login' %}" style="color: black">Login</a>   
          </li>
          {% endif %}
        </ul>
      </div>
    </div>
  </nav>
  <section id="about" >
    <div class="container">
      <div class="row">
        <div class="col-lg-8 mx-auto">
          <h2 >Your profile</h2>
          <br>
          <p>Hello lifter</p>
		  <p><a href="../profile/">View profile</a></p>
		  <p><a href="../password/">Change password</a></p>
        </div>
      </div>
    </div>
        <div class="col-lg-8 mx-auto">
      <div class="alert alert-warning" style="margin-top: 110px;" role="alert">
        Total Delivered Orders: <span class="float-right"><b data-delivered="{{delivered}}" class="delivered">{{delivered}}</b></span>
      </div>
      <div class="alert alert-danger" style="margin-top: 20px;" role="alert">
        Total Pending Orders: <span class="float-right"><b data-pending="{{pending}}" class="pending">{{pending}}</b></span>
      </div>
      <div class="card-deck">
        {% for order in orders %}
          {% if forloop.counter0|divisibleby:3 %}
            </div><br>
      
            <div class="card-deck"><div style="max-width: 33%; height: auto;" class="card shadow-lg  rounded" data-order="{{ order.id }}">
        
              <div class="card-body ">
                <h5 class="card-title">Delivery status</h5>
                <br>
                {% if not order.status %}
                <span class=" mx-auto alert alert-danger py-2 status" role="alert"> 
                  Pending
                </span></h5>
                {% else %}
                <span class=" mx-auto alert alert-success py-2 status" role="alert"> 
                  Delivered
                </span></h5>
                  {% endif %}
                <br><br>
                <p class="card-text"> 
                  <!--<b>Order id:</b> {{ order.id }}<br>-->
                  <b>Order item:</b> {{ order.product_name }}<br>
                  <b>Quantity:</b> {{ order.quantity }}<br>      
                  <b>Customer name:</b> {{ order.user.first_name }} <br>
                  <b>Address:</b> {{ order.address }}<br>
                  <b>Phone number:</b> {{ order.phone_number }}<br>
                  <b>Payment method:</b> Cash
                  
                </p>
              </div>
              <div class="card-footer">
                <b>Bill Amount:</b> <span class="float-right"> USD {{ order.total }}
                    <br>
                    
                <!-- <button type="button"  class="btn btn-outline-warning confirm_delivery">Confirm delivery</button> -->
                <div class="popup confirm-delivery">Confirm delivery
                  <span class="popuptext" id="{{ order.id }}">Successful</span>
                </div>
              </div>
            </div>
          {% else %}
            <div class="card shadow-lg  rounded" style="max-width: 33%; height: auto;"  data-order="{{ order.id }}">
        
              <div class="card-body ">
                <h5 class="card-title">Delivery status</h5>
                <br>
                {% if not order.status %}
                <span class=" mx-auto alert alert-danger py-2 status" role="alert"> 
                  
                  Pending
        
                </span></h5>
                {% else %}
                <span class=" mx-auto alert alert-success py-2 status" role="alert"> 
                  
                  Delivered
        
                </span></h5>
                  {% endif %}
                <br><br>
                <p class="card-text"> 
                  <b>Order item:</b> {{ order.product_name }}<br>
                  <b>Quantity:</b> {{ order.quantity }}<br>      
                  <b>Customer name:</b> {{ order.user.first_name }} <br>
                  <b>Address:</b> {{ order.address }}<br>
                  <b>Phone number:</b> {{ order.phone_number }}<br>
                  <b>Payment method:</b> Cash
                  
                </p>
              </div>
              <div class="card-footer">
                <b>Bill Amount:</b> <span class="float-right"> USD {{ order.total }}
                    <br>
                    
                    <div class="popup confirm-delivery">Confirm delivery
                      <span class="popuptext" id="{{ order.id }}">Successful</span>
                    </div>
              </div>
            </div>
              {% endif %}      
            <br>
            <br>
            <br>
            {% endfor %}
      </div>
    
  </section>
  <!-- Footer -->
  <footer class="py-5 bg-dark">
    <div class="container">
      <p class="m-0 text-center text-white">Copyright &copy; Your Website 2020</p>
    </div>
    <!-- /.container -->
  </footer>

  <!-- Bootstrap core JavaScript -->
  <script src="{% static 'accounts/vendor/jquery/jquery.min.js' %}"></script>
  <script src="{% static '/vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>

  <!-- Plugin JavaScript -->
  <script src="{% static 'accounts/vendor/jquery-easing/jquery.easing.min.js' &}"></script>

  <!-- Custom JavaScript for this theme -->
  <script src="{% static 'accounts/js/scrolling-nav.js' %}"></script>

</body>

</html>
