{% load widget_tweaks %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css"
          integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB"
          crossorigin="anonymous">
    <title>Login</title>
</head>
<body>

<section>
    <br>
    <div class="container">
        <div class="row">
            <div class="col-md-6 mx-auto">
                <div class="card">
                    <div class="card-header text-black">
                        <h2>Login</h2>
                    </div>
                    <div class="card-body">
                        <form action="{% url 'login' %}" method="POST" novalidate>
                            {% csrf_token %}
                            {% for field in form.visible_fields %}
                            <div class="form-group">
                                {{ field.label_tag }}
                                {% render_field field class="form-control" %}
                                {% if messages%}
                                {% for message in messages %}
                                <span style="color:red">{{ message }}</span>
                                {% endfor %}
                                {% endif %}
                                {% endfor %}
                                <br>
                                <p>Have no account? <a href="{% url 'register' %}">Register </a></p>
                                <input type="submit" value="Login" class="btn btn-block btn-primary">
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>
</section>

</body>
</html>