{% load widget_tweaks %}
<!DOCTYPE html>
<html lang="en">

<head> 

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>AndyL</title>
  {% load static %}
  <!-- Bootstrap core CSS -->
  <link href="{% static 'accounts/vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">

  <!-- Custom styles for this template -->
  <link href="{% static 'accounts/css/scrolling-nav.css' %}" rel="stylesheet">

</head>

<body id="page-top">
  <!-- Navigation -->
  <nav class="navbar navbar-expand-lg navbar-primary fixed-top" id="mainNav" style="background-color: yellow">
    <div class="container">
      <a class="navbar-brand js-scroll-trigger" href="../../../../../../#page-top" style="color: black">AndyL</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="../../../"style="color: black">Home</a>
          </li>
          {% if user.is_authenticated%}
          {% if user.is_customer%}
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="{% url 'customer_index' %}" style="color: black">Menu</a> 
          </li>
          {% endif %}
          {% if user.is_supplier%}
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="{% url 'supplier_index' %}" style="color: black">Menu</a> 
          </li>
          {% endif %}
          {% if user.is_lift%}
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="{% url 'lift_index' %}" style="color: black">Menu</a> 
          </li>
          {% endif %}
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="{% url 'logout' %}"style="color: black">Logout</a> 
          </li>
          {% else %}
          <li>
          <a class="nav-link js-scroll-trigger" href="{% url 'register' %}"style="color: black">Register</a>
          </li>
          <li>
          <a class="nav-link js-scroll-trigger" href="{% url 'login' %}"style="color: black">Login</a>   
          </li>
          {% endif %}
        </ul>
      </div>
    </div>
  </nav>
  <section id="about" >
    <div class="container">
      <div class="row">
        <div class="col-lg-8 mx-auto">
          <h2 >Your profile</h2>
          <br>
          <p>Hello supplier</p>
		  <p><a href="../profile/">View profile</a></p>
		  <p><a href="../password/">Change password</a></p>
		  <a href="update/">Fluctuate</a>
        </div>
      </div>
    </div>
  </section>
  <!-- Footer -->
  <footer class="py-5 bg-dark">
    <div class="container">
      <p class="m-0 text-center text-white">Copyright &copy; Your Website 2020</p>
    </div>
    <!-- /.container -->
  </footer>

  <!-- Bootstrap core JavaScript -->
  <script src="{% static 'accounts/vendor/jquery/jquery.min.js' %}"></script>
  <script src="{% static '/vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>

  <!-- Plugin JavaScript -->
  <script src="{% static 'accounts/vendor/jquery-easing/jquery.easing.min.js' &}"></script>

  <!-- Custom JavaScript for this theme -->
  <script src="{% static 'accounts/js/scrolling-nav.js' %}"></script>

</body>

</html>
