{% extends "base_generic.html" %}

{% block content %}
<section class="order overall container-md">
    <article class="order">
        <div>
            <h1 class="mx-auto font-weight-bolder" style="width: 250px;">Your orders</h1>
            <br><br>
        </div>
        <div class="card-deck">
            {% for order in orders %}
            {% if forloop.counter0|divisibleby:3 %}
        </div><br>
        <div class="card-deck">
            <div class="card shadow-lg  rounded" style="max-width: 33%; height: auto;">

                <div class="card-body ">
                    <h5 class="card-title">Delivery status</h5>
                    <br>
                    {% if not order.status %}
                    <span class=" mx-auto alert alert-danger py-2 status" role="alert">

                        Pending

                    </span></h5>
                    {% else %}
                    <span class=" mx-auto alert alert-success py-2 status" role="alert">

                        Delivered

                    </span></h5>
                    {% endif %}
                    <br><br>
                    <p class="card-text">
                      <b>Order item:</b> {{ order.product_name }}<br>
                      <b>Quantity:</b> {{ order.quantity }}<br>      
                      <b>Customer name:</b> {{ order.user.first_name }} <br>
                      <b>Address:</b> {{ order.address }}<br>
                      <b>Phone number:</b> {{ order.phone_number }}<br>
                      <b>Payment method:</b> Cash <br>
                      <b>Deliverer: </b> {{ order.deliverer.user.first_name }}<br>
                      <b>Deliverer phone number: </b> {{ order.deliverer.phone_number }}<br>
                    </p>
                </div>
                <div class="card-footer">
                    <b>Bill Amount:</b> <span class="float-right"> USD {{ order.total }}
                </div>

            </div>
            {% else %}
            <div class="card shadow-lg  rounded" style="max-width: 33%; height: auto;">

                <div class="card-body ">
                    <h5 class="card-title">Delivery status</h5>
                    <br>
                    {% if not order.status %}
                    <span class=" mx-auto alert alert-danger py-2 status" role="alert">

                        Pending

                    </span></h5>
                    {% else %}
                    <span class=" mx-auto alert alert-success py-2 status" role="alert">

                        Delivered

                    </span></h5>
                    {% endif %}
                    <br><br>
                    <p class="card-text">
                      <b>Order item:</b> {{ order.product_name }}<br>
                      <b>Quantity:</b> {{ order.quantity }}<br>      
                      <b>Customer name:</b> {{ order.user.first_name }} <br>
                      <b>Address:</b> {{ order.address }}<br>
                      <b>Phone number:</b> {{ order.phone_number }}<br>
                      <b>Payment method:</b> Cash <br>
                      <b>Deliverer: </b> {{ order.deliverer.user.first_name }}<br>
                      <b>Deliverer phone number: </b> {{ order.deliverer.phone_number }}<br>
                    </p>
                </div>
                <div class="card-footer">
                    <b>Bill Amount:</b> <span class="float-right"> Rs {{ order.total }}
                </div>

            </div>
            {% endif %}

            {% endfor %}

        </div>
        <br>
        <br>
    </article>
</section>
{% endblock %}